.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  color: white;
  padding-top:50px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

a{
  color:red;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
